body{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
   
}

.list-grid,
.list-input-grid{
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 15px;
    row-gap: 15px;
    align-items: center;
    

}

.list-grid{
    margin-left: 30%;
    font-weight: bold;
    color:white;
}

.list-input-grid{
    margin-bottom: 15px;
    align-items: stretch;
    margin-left: 30%;
    
    
    
}

.add-button{
    background-color: green;
    border: none;
    color: white;
    font-size: 15px;
    cursor: pointer;
    padding-right: 10px;
    padding-left: 10px;
    

}

.item-input{
    font-size: 15px;
    padding: 10px;
    font-weight: bold;

}

.duedate-input{
    font-size: 15px;
    padding: 10px;
    font-weight: bold;

}

.delete-button{
    font-size: 15px;
    padding: 10px;
    background-color: brown;
    border: none;
    color: white;
    cursor: pointer;

}

.organize-content{
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: linear-gradient(to bottom right,grey,black );
    height: 100vh;
    box-shadow: 10px 10px 5px aqua inset;
    
    
}

h1{
    margin-left: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}
